._mobile {
  // dropdown-list
  .dropdown-list {
    &.list-eval-start {
      width: 100%;
      .eval-progress-cont {
        .eval-percent {
          flex: none;
          width: 80px;
          margin-left: auto;
        }
      }
    }
  }
}
