$black: #3a3b40;
$white: #ffffff;

$g01: #f0f1fa;
$g02: #e6e7f0;
$g03: #d7dae4;
$g04: #cccfd9;
$g05: #b0b4c1;
$g06: #7b7f91;
$g07: #686b79;

$primary: #805ad5;
$primary-hover: #7153bd;
$secondary: #479ef5;
$secondary-hover: #4891db;

$surface-bg: #f3f5f8;
$surface-read-finished: #e7edf3;

$status-standby: #c78911;
$status-ongoing: #4d82ea;
$status-closed: #5252a1;
$status-error: #d2406c;

$green: #4cc081;
$blue: #5886cc;
$yellow: #eaa300;
$orange: #ed7d31;
$pink: #ea7bcb;
$pruple: #c963d8;

$black-alpha-10: rgba(0, 0, 0, 0.1);
$black-alpha-20: rgba(0, 0, 0, 0.2);
$black-alpha-30: rgba(0, 0, 0, 0.3);
$black-alpha-40: rgba(0, 0, 0, 0.4);
$black-alpha-60: rgba(0, 0, 0, 0.6);
$black-alpha-80: rgba(0, 0, 0, 0.8);

$white-alpha-40: rgba(255, 255, 255, 0.4);
