<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{fragments/default_head :: defaultHead}"></head>-->
<!--<body>-->
<!--<th:block th:include="fragments/default_menu :: defaultMenu"></th:block>-->

<!--<div class="content">-->
<!--    &lt;!&ndash; 컨텐츠 내용 &ndash;&gt;-->
<!--    평가자료 메인입니다.-->
<!--    <br><br>-->
<!--    메뉴에는 교과서목록<br>-->
<!--    내용에는 교과서 상세 > 수행평가 목록이 들어갈 예정입니다.-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="content">
        <!-- 컨텐츠 내용 -->
        평가자료 메인입니다.
        <br><br>
        메뉴에는 교과서목록<br>
        내용에는 교과서 상세 > 수행평가 목록이 들어갈 예정입니다.
</th:block>
</html>