._mobile {
  // login
  ._login-m {
    min-height: 568px;
    height: 100%;
    background-image: url("../images/image/login_bg_m.png");
    background-size: 100% auto;
    .login-wrap {
      @include flexColumn;
      height: 100%;
      padding: 40px 20px 0;
      .logo-area {
        width: 132px;
        height: 24px;
        margin: 0 auto;
        background-image: url("../images/image/m_header_logo.svg");
      }
      .login-box {
        flex: 1;
        min-height: 0;
        form {
          @include flexColumn;
          height: 100%;
          .title-wrap {
            text-align: center;
            margin-top: 60px;
            .title {
              @include font-title-1;
              font-weight: 600;
            }
            .title-desc {
              @include font-body-2;
              color: $g06;
              margin-top: 6px;
            }
          }
          .login-area {
            margin-top: 60px;
            .login-item {
              position: relative;
              & + .login-item {
                margin-top: 24px;
              }
              .selectBox {
                .option {
                  padding: 7px 41px 7px 7px;
                  &::after {
                    width: 24px;
                    height: 24px;
                  }
                }
                .dropdown-list {
                  top: 44px;
                }
              }
              .input-wrap {
                .input-text {
                  input {
                    padding: 7px 11px 7px 7px;
                  }
                  .btn-show-pwd {
                    background-color: $primary;
                  }
                }
              }
            }
          }
          .login-btn-wrap {
            margin-top: 60px;
            padding: 0 23px;
            button {
              width: 100%;
              height: 54px;
              @include btn-primary;
            }
          }
        }
      }
      .login-session-expiration {
        @include flexColumn;
        justify-content: center;
        flex: 1;
        min-height: 0;
        .title-wrap {
          text-align: center;
          .title {
            @include font-title-1;
            font-weight: 600;
          }
          .title-desc {
            @include font-body-2;
            color: $g06;
            margin-top: 8px;
          }
        }
      }
      .copyright {
        margin-top: 30px;
        padding: 16px 0;
        text-align: center;
        @include font-caption-1;
        color: $g05;
      }
    }
    .change-pwd-wrap {
      @include flexColumn;
      height: 100%;
      padding: 50px 20px 24px;
      .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        i {
          background-color: $black;
        }
      }
      .top-wrap {
        flex: 1;
        min-height: 0;
        .title-wrap {
          margin-bottom: 30px;
          .title {
            @include font-title-1;
          }
          p {
            margin-top: 8px;
            color: $g06;
            @include font-body-2;
          }
        }
        .input-item-wrap {
          .input-item {
            & + .input-item {
              margin-top: 24px;
            }
            .input-title {
              margin-bottom: 6px;
              @include font-body-2(600);
            }
            .input-wrap {
              input {
                padding-left: 7px;
              }
              .btn-show-pwd {
                background-color: $primary;
              }
            }
          }
        }
      }
      .btm-wrap {
        .btn-change {
          width: 100%;
          height: 36px;
          @include btn-primary;
        }
      }
    }
  }
}
