._onboarding {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url("../images/image/onboarding_bg.png");
  background-size: cover;
  padding: 40px;

  .onboarding-inner {
    @include flexRow;
    justify-content: center;
    min-height: 100%;
    min-width: 900px;
    .onboarding-box {
      @include flexColumn;
      width: 900px;
      height: 700px;
      border-radius: 12px;
      .onboarding-cont {
        @include flexColumn;
        flex: 1;
        min-height: 0;
        padding: 60px 50px 0;
      }
    }
  }
  .top-text-wrap {
    margin-bottom: 36px;
    .logo-area {
      display: block;
      width: 264px;
      height: 48px;
      margin: auto;
      background-image: url("../images/image/login_logo.svg");
    }
    .title-wrap {
      margin-top: 36px;
      text-align: center;
      .title {
        @include font-title-1;
      }
      .title-desc {
        margin-top: 12px;
        @include font-title-3;
        color: $g07;
        height: 48px;
      }
    }
  }
  .learning-box-wrap {
    padding: 20px 0 60px 0;
    @include flexRow;
    justify-content: center;
    .learning-box {
      width: 318px;
      height: 250px;
      padding: 24px 36px 36px;
      border: 1px solid $g02;
      border-radius: 16px;
      & + .learning-box {
        margin-left: 24px;
      }
      .learning-box-title {
        @include font-body-2;
        text-align: center;
        color: $g07;
        span {
          display: block;
          margin-top: 4px;
          @include font-title-2;
          color: $black;
        }
      }
      .learning-item-wrap {
        @include flexRow;
        justify-content: center;
        margin-top: 30px;
        .learning-item {
          @include flexColumn;
          align-items: center;
          width: 110px;
          & + .learning-item {
            margin-left: 24px;
          }
          .learningType-badge {
            width: 56px;
            height: 56px;
          }
          .info-text {
            margin-top: 10px;
            text-align: center;
            strong {
              display: block;
              @include font-body-1;
              color: $g07;
            }
            span {
              display: block;
              margin-top: 2px;
              @include font-body-2(600);
              color: $g06;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .onboarding-btn-wrap {
    @include flexRow;
    justify-content: center;
    padding: 8px 0 48px 0;
    button {
      width: 180px;
      height: 44px;
      &.btn-fill {
        @include btn-primary;
      }
      &.btn-outline {
        @include btn-outline-primary;
      }
      & + button {
        margin-left: 10px;
      }
    }
  }
}
