<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="lock" th:fragment="defaultBody">
<div id="app">
    <!--/* menu 영역 */-->
    <th:block th:include="~{fragments/layout/default_menu :: defaultMenu}"></th:block>
    <th:block th:include="${content} :: content"></th:block>
</div>
<!--/* Js 추가영역 */-->
<th:block layout:fragment="appendJs"></th:block>
<!--/* Js 공통영역 - 퍼블리싱 추가 */-->
<script src="/assets/js/OverlayScrollbars.min.js"></script>
<script src="/assets/js/common.js"></script>
</body>
</html>